<h1>New GraphGist Created!</h1>

<h2><a href="<%= FRONTEND_URL %>/graph_gist_candidates/<%= candidate.slug %>"><%= candidate.title %></a></h2>

<p>by <a href="<%= FRONTEND_URL %>/people/<%= author.slug %>"><%= author.name %></a></p>
